.container {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: auto;
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  transition: transform 0.3s;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.pin-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5em;
  color: #555555;
  cursor: pointer;
}

.display-content h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #333333;
}

.content {
  margin-bottom: 50px;
}

.content .date {
  color: #999999;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.content p {
  margin: 0 0 10px;
  color: #555555;
  line-height: 1.5;
}

.content h4 {
  color: #666666;
  font-size: 0.9em;
}

.edit-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-content input,
.edit-content textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.icons-note {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
}

.icons-note svg {
  font-size: 1.2em;
  color: #555555;
  cursor: pointer;
  transition: color 0.3s;
}

.icons-note svg:hover {
  color: #ff6347;
}
